/*start default block  */
.body {
  margin: 0; }

p {
  margin: 0; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

.multi-columns {
  padding: 0 15px;
  display: flex; }
  .multi-columns__column-30 {
    width: 30%; }
  .multi-columns__column-70 {
    width: 70%; }

/*end default block  */
/*start page block  */
.page {
  background-color: white; }
  .page__header {
    margin-bottom: 5px;
    padding-left: 40px; }
  .page__content {
    width: 50%; }
  .page__footer {
    width: 50%;
    height: 50px;
    text-align: center; }
  .page__services {
    display: flex; }

/*end page block  */
/*start services block  */
.service__item {
  width: 33.33%;
  text-align: center; }
  .service__item__title {
    color: #75aaf5;
    margin: 20px 15px 15px; }
  .service__item__desc {
    color: #dadada;
    margin: 0 15px; }

/*end services block  */
