p {
  margin: 0; }

ul {
  list-style: none;
  margin: 0; }

h1 {
  margin: 0; }

.multi-colums {
  width: 100%;
  display: flex; }
  .multi-colums__colum-30 {
    width: 30%; }
  .multi-colums__colum-70 {
    width: 70%; }

.page__header {
  background-color: gray; }

.page__content {
  background-image: "../../exercise/images/back_ground.jpg"; }

.introduction {
  text-align: center;
  background-image: url("../../exercise/images/back_ground.jpg");
  background-repeat: no-repeat;
  padding-top: 100px;
  padding-bottom: 50px; }
  .introduction__title {
    font-size: 16px;
    color: white;
    display: block; }
  .introduction__content {
    padding: 20px 0;
    color: white;
    display: block;
    font-size: 50px; }
  .introduction__explore-action {
    color: yellow;
    font-size: 13px;
    height: 30px;
    line-height: 30px;
    text-align: center; }

.main-nav {
  padding: 5px 10px;
  display: flex;
  float: right; }
  .main-nav__item {
    width: 80px;
    height: 30px;
    text-align: center;
    line-height: 30px; }

.services__title {
  text-align: center;
  font-size: 30px;
  color: black; }

.services__container {
  display: flex; }

.services__item {
  text-align: center;
  padding: 0 10px; }
  .services__item__title {
    padding: 20px 0;
    display: block; }

.brand {
  font-size: 30px; }

.icon, .icon__caculator, .icon__chart, .icon__note {
  width: 30px;
  height: 30px;
  margin: 0 auto;
  display: block; }

.icon__caculator {
  background-image: url("../../../exercise/images/caculator.png"); }

.icon__chart {
  background-image: url("../../../exercise/images/chart.png"); }

.icon__note {
  background-image: url("../../../exercise/images/note.png"); }
