
@mixin create-introduction($page-content-background-image) {
    text-align: center;
    background-image: url($page-content-background-image);
    background-repeat: no-repeat;
    padding-top: 100px;
    padding-bottom: 50px;

    &__title {
        font-size: 16px;
        color: white;
        display: block;
    }

    &__content {
        padding: 20px 0;
        color: white;
        display: block;
        font-size: 50px;
    }

    &__explore-action {
        color: yellow;
        font-size: 13px;
        height: 30px;
        line-height: 30px;
        text-align: center;
    }
}