@mixin create-main-nav($navigation-align) {
    padding: 5px 10px;
    display: flex;
    float: $navigation-align;  
    &__item {
        width: 80px;
        height: 30px;
        text-align: center;
        line-height: 30px;
    }
}