@mixin create-services(){
    &__title {
        text-align: center;
        font-size: 30px;
        color: black;
    }

    &__container {
        display: flex;
    }

    &__item {
        text-align: center;
        padding: 0 10px;

        &__title {
            padding: 20px 0;
            display: block;
        }

        &__description {
        }
    }
}