/*start default block  */
.body{
    margin: 0;
}

p{
    margin: 0;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.pull-left{}

.pull-right{}

.multi-columns{
    padding: 0 15px;
    display: flex;
}

.multi-columns__column-30{
    width: 30%;
}

.multi-columns__column-70{
    width: 70%;
}

.multi-columns__column-50{
    width: 50%;
}

.multi-columns.pull-left{}

.multi-columns.pull-right{}

.multi-columns .pull-left>*{
    float: left;
}

.multi-columns .pull-right>*{
    float: right;
}
/*end default block  */

/*start page block  */

.page__header{
    margin-bottom: 5px;
    padding-left: 40px;
}

.page__content{
    width: 100%;
}

.page__footer{
    width: 100%;
    height: 100px;
    text-align: center;
}
/*end page block  */

/*start brand block  */
.brand{}

.brand__logo{
    width: 40px;
}

.brand__text{
    margin-left: 10px;
    font-size: 30px;
}
/*end brand block  */

/*start slider block  */

/*start slider block  */
.slider{
     background: url(images/bg.jpg) no-repeat center center;
     background-size:cover; 
     position: relative;
     overflow: hidden;
     position: relative;
}

.slider__prev{
    top: calc(50% - 23px);
    position: absolute;
    font-size: 40px;
    left: 30px;
    display: flex;
}

.slider__next{
    position: absolute;
    top: calc(50% - 23px);
    font-size: 40px;
    right: 30px;
    display: flex;
}

.slider__content{
    vertical-align: middle;
}
/*end slider block  */

/*start service-sumary block  */
.service-summary{
     display: flex;
     align-items: center;
 }
 .service-summary__iphone-photo{
     margin-left: 70px;
 }
 .service-summary__content{
     padding: 70px;
 }
.content__title{
     color: #FFFFFF;
     font-size: 40px;
     line-height: 60px;
 }
.content__desc{
     color: #FFFFFF;
     font-size: 20px;
     line-height: 30px;
 }
/*end service-sumary block  */

/*start btn-sign-up block*/
 .btn-sign-up{
     border: 1px solid blue;
     background-color: blue;
     padding: 10px 10px;
 }
 .btn-sign-up .icon{
     color: blue;
     display: inline-block;
 }
 .btn-sign-up .icon:before{
     content: "\2713";
     width: 30px;
     height: 30px;
     background: #fff;
     line-height: 30px;
     border: 1px solid;
     border-radius: 50%;
     display: block;
 }
 .btn-sign-up .text{
     font-size: 16px;
     color: #fff;
     margin-left: 10px;
     vertical-align: middle;
 }
/*end btn-sign-up block*/

/*start main-nav block  */
.main-nav{
    display: flex;
    padding: 0;
}

.main-nav__item{
    padding: 10px 10px;
}

.main-nav__title{
    font-size: 20px;
    color: black;
    line-height: 20px;
}

.main-nav__item--active{
    border-bottom: solid 2px blue;
}

.title--active{
    color: red;
}
/*end main-nav block  */

/*start shopping-cart block  */
.shopping-cart{
    text-align: center;
    display: flex;
}

.shopping-cart__title{
    color: #7E7F81;
    padding-left: 200px;
}

.shopping-cart__content{
text-align: center;
}

.shopping-cart__logo{
}

.shopping-cart__subtitle{
    font-size: 20px;
}

.shopping-cart__desc{
    color: #7E7F81;
    text-align: left;
}
/*end shopping-cart block  */