/*start default block  */
.body{
    margin: 0;
}

p{
    margin: 0;
}
/*end default block  */

/*start page block  */

.page .header{
    margin-bottom: 5px;
    border: 1px solid red;
    padding-left: 40px;
}

.page .content{
    width: 100%;
    height: 500px;
    margin-bottom: 5px;
    border: 1px solid red;
}

.page .footer{
    width: 100%;
    height: 100px;
    text-align: center;
    border: 1px solid red;
}

/*end page block  */

/*start brand block  */
.brand{}

.brand .logo{
    width: 40px;
}

.brand .text{
    margin-left: 10px;
    font-size: 30px;
}
/*end brand block  */