/*Start Default block  */
.body{
    margin: 0;
}

p{
    margin: 0;
}
/*End Default block  */

/*Start Page block */
.page .header{
    width: 100%;
    margin-bottom: 5px;
    border: 1px solid red;
}

.page .content{
    width: 100%;
    height: 500px;
    margin-bottom: 5px;
    border: 1px solid red;
}

.page .footer{
    width: 100%;
    height: 100px;
    text-align: center;
}
/*End Page block  */

/*Start Brand block  */
.brand{
    border: 1px solid blue;
    width: 150px;
    margin: 20px 0;
    margin-left: 60px;
    display: inline-block;
}

.brand .logo{
    width: 40px;
}

.brand .text{
    font-size: 30px;
    margin-left: 20px;
}
/*End Brand block  */

/* Start Navigation block*/
.navigation{
    width: 33%;
    display: inline-block;
    float: right;
}
.navigation .navbar-nav{
    display: flex;
    height: auto;
}

.navigation .navbar-nav .navbar-nav-item{
    list-style: none;
    height: auto;
    width: 60px;
    padding: 30px 15px 20px 15px;
}

.navigation .navbar-nav .navbar-nav-text{
    font-size: 16px;
    line-height: 16px;
}

.navigation .navbar-nav .active{
    border-bottom: 2px solid blue;
}
/*End Navigation block  */

/*Start Copy-right block  */
.copy-right{
    margin: 40px auto;
    font-size: 13px;
    color: gray;
}
/*End Copy-right block  */